.container{
    margin: 50px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

button{
    font-size: 14px;
    background-color:lightgreen;
    padding: 10px 25px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px grey;
}